.appbar {
  padding: 16px 24px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary); */
}

.appbar-left {
  display: flex;
  align-items: center;
}

.appbar-center {
}

.appbar-right {
}

.appbar-title {
  margin-top: 0;
  margin-bottom: 0;
}

.appbar-version {
  text-align: end;
}
