body {
  margin: 0;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

main {
  display: flex;
  min-height: 100vh;
  padding-left: 8px;
}

aside {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
}

section {
  flex: 1;
  padding-left: 8px;
}

.text-wrap {
  text-wrap-mode: wrap;
}

.width-min-content {
  width: min-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.font-size-48 {
  font-size: 48px;
  line-height: 48px;
}
