/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.brooke-main {
  width: 100%;
  /* background: yellow; */
  display: grid;
  grid-template-rows: 10% 90%;
	border: 10px;
}


.brooke-header {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
   background: #060b47;
  color: white; 
  font-weight: bold;

  display: flex;
  flex-direction: row;
	
  justify-content: space-between;
  padding: 10px;
}

.brooke-header-leftside {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
}

.brooke-header-rightside {
	align-content: flex-end;
	display: flex;
	flex-direction: row;
}

.brooke-panel {
  grid-row: 2 / 2;
	display: flex;
  flex-direction: row;

}

.brooke-collection-menu {
  /* background: green;
  color: white; */
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.brooke-category-menu {	
  display: flex;
  flex-direction: column;
	margin-left: 10px;
}

.brooke-book-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows: auto;
	align-items: end;
	margin-left: 5px;
	margin-top: 5px;
}

.brooke-movie-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: auto;
	align-items: end;
	margin-left: 5px;
	margin-top: 5px;
}

.brooke-pages-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
	align-items: end;
	margin-left: 5px;
	margin-top: 5px;
}

.button {
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 5px;
	border: 0px;
	text-decoration:none;
}

.breadcrumb a+a:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.grey-border-with-shadow {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#000000;
	border-radius:5px;
	border:1px solid #566963;
}

.black-border {
	border-radius: 5px;
	border:2px solid #000000;
}

.primary {
	background-color: #6200EE;
	color:#ffffff;
}
.primary-variant {
	background-color: #3700B3;
	color:#ffffff;
}
.secondary {
	background-color: #03DAC6;
	color:#000000;
}
.secondary-variant {
	background-color: #018786;
	color:#000000;
}

.p-r--xs {
	padding-right: 5px;
}

.m-r--xs {
	margin-right: 5px;
}
