@use '@angular/material' as mat;
// @use 'material-symbols/outlined.css';
@use '@angular/material/prebuilt-themes/azure-blue.css';

@forward './styles/flex.scss';
@forward './styles/html.scss';
@forward './styles/overlay.scss';
@forward './styles/spin.scss';

$theme: mat.define-theme();
html {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

:root {
  --o-gap: 8px;
  --header-height: 50px;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    )
  );
  @include mat.paginator-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
      enabled-icon-color: var(--mat-sys-on-primary-container),
      disabled-icon-color: var(--mat-sys-on-primary-container),
      container-text-weight: 800,
    )
  );
}

.display-none {
  display: none;
}

.fh {
	height: 100%;
}


.fh-body {
	height: calc(100vh - 16px - var(--mat-toolbar-mobile-height, 56px)) !important;
}

.fw {
	width: 100%;
}

settings {
  display: flex;
  flex-direction: column;
  row-gap: var(--o-gap);
}

