@use '@angular/material' as mat;
@use 'material-symbols/outlined.css';
@use '@angular/material/prebuilt-themes/azure-blue.css';

@use './styles/flex.scss';
@use './styles/overlay.scss';

$theme: mat.define-theme();
html {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

:root {
  --o-gap: 8px;
  --header-height: 50px;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    )
  );
  @include mat.paginator-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
      enabled-icon-color: var(--mat-sys-on-primary-container),
      disabled-icon-color: var(--mat-sys-on-primary-container),
      container-text-weight: 800,
    )
  );
}

.display-none {
  display: none;
}


book.two-page {
  display: grid;
  grid-template-columns: calc((100% - 14px) / 2) calc((100% - 14px) / 2);
  grid-gap: 10px;
  grid-template-rows: auto;
  align-items: start;
  font-size: 18px;
}

book.one-page {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  grid-template-rows: auto;
  align-items: start;
  font-size: 18px;
}

book .thumbnails {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
}

book p {
  text-indent: 16px;
  margin-block-end: 8px;
  margin-block-start: 0;
}

book .thumbnails mat-card {
  align-items: center;
}

book .thumbnails mat-card-actions {
  align-items: flex-start;
  flex-direction: column;
  row-gap: 16px;
}

collection-browser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

h2,
h3,
h4,
h5 {
  display: block;
  width: 100%;
  text-wrap-mode: nowrap;
}

mat-toolbar-row {
  column-gap: 8px;
}

item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--o-gap);
}

item-card mat-card {
  height: 100%;
  justify-content: space-between;
}

item-card .childitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 16px;
}

.books item-card img {
  width: 250px;
  height: 400px;
  object-fit: scale-down;
}

.videos item-card img {
  width: 350px;
  height: 350px;
  object-fit: scale-down;
}

item-card mat-card-actions > div {
  display: flex;
  gap: var(--o-gap);
}

childitem-card mat-card-actions > div {
  display: flex;
  gap: var(--o-gap);
}

main {
  display: flex;
  gap: var(--o-gap);
  padding-top: 8px;
  padding-left: 8px;
}

settings {
  display: flex;
  flex-direction: column;
  row-gap: var(--o-gap);
}

span {
  text-wrap-mode: nowrap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
