
:host {
	background-color: #f8f6f1;
	min-height: 100%;
	min-width:  100%;
}

:host-context(.one-page) {
	display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  align-items: start;
}

:host-context(.two-page) {
	display: grid;
  grid-template-columns: calc((100% - 5px) / 2) calc((100% - 5px) / 2);
  grid-gap: 10px;
  grid-template-rows: auto;
  align-items: start;
}