<ng-container *ngIf="brookeService.pages().length > 0">

	<div class="w3-bar">
		<button class="w3-bar-item" (click)="goToPage(brookeService.currentLeftPage(), -2)" >Prev</button>
		<button class="w3-bar-item" (click)="goToPage(brookeService.currentLeftPage(), 2)" >Next</button>
		
		<ng-container *ngFor="let range of brookeService.pages()">
			<ng-container *ngIf="!range.elipses">
				<button class="w3-bar-item"
					 (click)="goToPage(range.page, 0)" 
				[ngClass]="{
						'is-current': range.current
				}">{{range.page}}</button>
			</ng-container>
			<ng-container *ngIf="range.elipses">
					<span class="w3-bar-item">&hellip;</span>
			</ng-container>
		</ng-container>

	</div>
</ng-container>