<ng-container *ngIf="brookeService.pages().length > 0">

			<nav class="pagination is-small" role="navigation" aria-label="pagination">
					<a class="pagination-previous" (click)="goToPage(brookeService.currentLeftPage(), -2)" >Previous</a>
					<a class="pagination-next" (click)="goToPage(brookeService.currentLeftPage(), 2)" >Next page</a>
					<ul class="pagination-list">
							<li *ngFor="let range of brookeService.pages()">
									<ng-container *ngIf="!range.elipses">
											<a class="pagination-link"
												 (click)="goToPage(range.page, 0)" 
											[ngClass]="{
													'is-current': range.current
											}">{{range.page}}</a>
									</ng-container>
									<ng-container *ngIf="range.elipses">
											<span class="pagination-ellipsis">&hellip;</span>
									</ng-container>
							</li>
					</ul>
			</nav>
</ng-container>