@let appState = app.appState();
@let resources = app.resources();
@if (appState && resources && resources.storedLibrary.hasValue()) {
  @let library = resources.storedLibrary.value();
  @let currentCollection = appState.currentCollection();
  @let collectionCategories = appState.currentCollectionCategories();
  @let currentCategory = appState.currentCategory();
  @let currentSeries = appState.currentSeries();

  @if (!currentCollection) {
    <h2 class="flex flex-justify-content-center">Collections</h2>
    <div class="flex flex-justify-content-center width-90per">
      @for (collection of library.collections; track collection.name) {
        <select-collection-action [collection]="collection"></select-collection-action>
      }
    </div>
  }

  @if (currentCollection && !currentCategory) {
    <h2 class="flex flex-justify-content-center flex-align-center">
      Categories
      @for (category of collectionCategories; track $index) {
        @if (category.synthetic && !category.alphabetical) {
          <select-category-action
            [category]="category"
            [matBadge]="category.items.length"
            matBadgeSize="large"
          ></select-category-action>
        }
      }
    </h2>
    <div class="flex flex-justify-content-center width-90per">
      @for (category of collectionCategories; track $index) {
        @if (!category.synthetic) {
          <select-category-action [category]="category" [matBadge]="category.items.length"></select-category-action>
        }
      }
    </div>
    <div class="flex flex-justify-content-center width-90per">
      @for (category of collectionCategories; track $index) {
        @if (category.synthetic && category.alphabetical) {
          <select-category-action [category]="category" [matBadge]="category.items.length"></select-category-action>
        }
      }
    </div>
  }

  @if (currentCollection && currentCategory && !currentSeries) {
    <div
      class="flex flex-justify-content-center width-90per"
      [class.books]="currentCollection.openType === 'book'"
      [class.videos]="currentCollection.openType !== 'book'"
    >
      @for (itemRef of currentCategory.items; track itemRef.name) {
        @let itemCollectionAndName = currentCollection.name + '_' + itemRef.name;
        <item-card
          [itemRef]="itemRef"
          [item]="library.itemsByCollectionAndName[itemCollectionAndName]"
          [thumbnail]="appState.currentCategoryThumbnails()[itemRef.name]"
        ></item-card>
      }
    </div>
  }

  @if (currentCollection && currentSeries) {
    @let seriesCollectionAndName = currentCollection!.name + '_' + app.appState().currentSeries()?.name;
    @let seriesItem = library!.itemsByCollectionAndName[seriesCollectionAndName];
    <series-card
      [seriesItemRef]="currentSeries"
      [seriesItem]="seriesItem"
      [thumbnail]="appState.currentCategoryThumbnails()[seriesItem.name]"
    ></series-card>
  }
}
