:host {
  --mat-sidenav-container-width: auto;
  --mat-chip-label-text-color: var(--mat-sys-on-primary-container);
  --mat-chip-outline-color: var(--mat-sys-on-primary-container);
  --mat-chip-with-trailing-icon-trailing-icon-color: var(--mat-sys-on-primary-container);
}

mat-toolbar-row {
  column-gap: 8px;
}

.mat-drawer-inner-container {
  width: auto !important;
}

.pages-of {
  font-size: small;
  margin-right: 16px;
  font-weight: 600;
}

.toolbar {
  width: var(--mat-toolbar-mobile-height, 56px);
  padding: 8px 8px 0 8px;
}

.font-bold {
  font-weight: bold;
}

.margin-top-8 {
  margin-top: 8px;
}

.version {
  font-size: small;
  line-height: 8px;
}

#toolbar {
	anchor-name: --toolbar;
}

#book-options {
  border-radius: 0 8px 8px 0;
  top: anchor(top);
  left: anchor(right);
  margin: 0;
  border: 0;
  position-anchor: --toolbar;
}

#book-options::backdrop {
  background: rgb(190 190 190 / 50%);
  top: anchor(top);
  left: anchor(right);
  margin: 0;
  border: 0;
  position-anchor: --toolbar;
}
