<div
  class="w3-row"
  style="padding: 0em 0em"
>
  <div class="w3-half">
    <img
      style="width: 100%"
      src="/rest/page/{{ brookeService.currentCollection()?.name }}/{{
        brookeService.currentItem()?.name
      }}/{{ brookeService.currentLeftPage() }}"
    />
  </div>
  <div class="w3-half">
    <img
			style="width: 100%"
      src="/rest/page/{{ brookeService.currentCollection()?.name }}/{{
        brookeService.currentItem()?.name
      }}/{{ brookeService.currentRightPage() }}"
    />
  </div>
</div>
