
<div class="tile is-ancestor">
	<div class="tile is-parent is-vertical is-2">
		<aside class="menu ">
			<ul class="menu-list">
				<li *ngFor="let childItem of brookeService.currentSeries()?.childItems">
					<a class="button menu-label" (click)="openItem(childItem)">{{childItem.name.replaceAll('_', ' ')}}</a>
				</li>
			</ul>
		</aside>
	</div>

	<div class="tile">
		<div class="tile is-child box">
			<img src="/rest/large-thumbnail/{{brookeService.currentCollection()?.name}}/{{brookeService.currentSeries()?.name}}">
		</div>
	</div>
</div>