@let appState = app.appState();
@let appResource = app.resources();
@let mainActionItem = appState.currentCollection()?.openType === 'book' ? 'file_open' : 'play_arrow';
<mat-card class="childitem">
  <mat-card-header>
    <mat-card-title>{{ itemRef().displayName }} </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div>
      <action [m]="openItem" [o]="this">{{ mainActionItem }}</action>
      <action
        [m]="downloadForOffline"
        [o]="this"
        [disabled]="!appResource.storedLibrary.value()?.cacheDirectory"
        >download_for_offline</action
      >
      <action [m]="openItemDetails" [o]="this">notes</action>
      @if (appState.currentCollection()?.openType === 'book') {
        <action [m]="openItemThumbnails" [o]="this" title="Thumbnails">dataset</action>
        <action [m]="openItemMarkdown" [o]="this" title="Markdown">markdown</action>
      }
    </div>
  </mat-card-actions>
</mat-card>
