@let widgets = app.widgets();
@let resources = app.resources();
@let bookCbtResource = resources.bookCbt;
@if (bookCbtResource.hasValue()) {
  @let bookCbt = bookCbtResource.value();

  @if (bookCbt.length > leftPageNo()) {
    <virtual-page
      [page]="bookCbt[leftPageNo()]"
      [preferMarkdown]="widgets.book.markdownView() || widgets.book.sideBySide()"
    />
  }
  @if (showRightPage()) {
    <virtual-page
      [page]="widgets.book.sideBySide() ? bookCbt[leftPageNo()] : bookCbt[rightPageNo()]"
      [preferMarkdown]="widgets.book.markdownView() && !widgets.book.sideBySide()"
    />
  }
}
