.overlay {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-content {
  min-width: 66%;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 16px;
  outline: 16px;
}
