
input[type="radio"], .tab-pane { 
	display: none; 
}

::cue {
	color: yellow;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color:rgba(0, 0, 0, 0);
}
video {        
	height: 98vh;
    width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
}
