@let resources = app.resources();
@let bookCbtResource = resources.bookCbt;
@if (bookCbtResource && bookCbtResource.hasValue()) {
  @let bookCbt = bookCbtResource.value();

  <div class="thumbnails">
    <!-- TODO add bookmark button to indicate this is a TOC target -->
    @for (page of bookCbt; track $index) {
      <mat-card>
				<button (click)="cycleImageType(page)" >
        <img mat-card-image style="width: 250px" [src]="page.thumbnail" />

				</button>
        <mat-card-actions>
          <!-- <div>
            <mat-form-field hintLabel="Max 30 characters">
              <mat-label>Chapter</mat-label>
              <input
                matInput
                #input
                maxlength="30"
                placeholder="Chapter"
                [(ngModel)]="page.bookmarkName"
                name="bookmarkName-{{ $index }}"
              />
              <mat-hint align="end">{{ page.bookmarkName?.length ?? 0 }}/30</mat-hint>
            </mat-form-field>
          </div> -->
          <div>
            <mat-button-toggle-group name="page-type-{{ $index }}" [(ngModel)]="page.type">
              <mat-button-toggle value="Text"> Text </mat-button-toggle>
              <mat-button-toggle value="Image"> Image </mat-button-toggle>
              <mat-button-toggle value="Blank"> Blank </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-card-actions>
      </mat-card>
    }
  </div>
}
