@let bookCbtResource = app.bookCbt;
@if (bookCbtResource && bookCbtResource.hasValue()) {
@let bookCbt = bookCbtResource.value();

<div class="thumbnails">
  @for (page of bookCbt; track $index) {
  <card>
    <card-body>
      <button (click)="cycleImageType(page, $event)" id="page-type-img-{{$index}}">
        <img mat-card-image width="250px" height="400px" [src]="page.thumbnail" />
      </button>
    </card-body>
    <card-actions>
      <BtnRadioGroup [value]="page.type" (change)="setPageType(page, $event)" [options]="options" />
    </card-actions>
  </card>
  }
</div>
}