@let mainActionItem = app.location().collection?.openType === 'book' ? 'file_open' : 'play_arrow';

<card>
  <card-header>
    <h2>{{ itemRef().displayName }}</h2>
  </card-header>
  <card-actions>
    <div class="flex flex-gap margin-b">
      <Btn type="fab" icon="{{ mainActionItem }}" (click)="openItem()" />
      <Btn type="fab" icon="download_for_offline" (click)="downloadForOffline()"
        [disabled]="!app.settings.value()?.cacheDirectory" />
      <Btn type="fab" icon="notes" (click)="openItemDetails()" [disabled]="!app.settings.value()?.cacheDirectory" />
    </div>
  </card-actions>
</card>