<ng-container *ngIf="vm$ | async as vm">





	<app-top-bar style="display: contents;"></app-top-bar>

	<section class="section">
		<h1 class="title">{{vm.item.name.replaceAll('_', '')}}</h1>
		<h2 class="subtitle">
			Details
		</h2>
	</section>
	
	<nav class="level">
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Compressed Size</p>
				<p class="title">{{vm.bookDetails.cbtSize | filesize}}</p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Raw Size</p>
				<p class="title">{{vm.bookDetails.rawSize | filesize}}</p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Compression</p>
				<p class="title">{{vm.bookDetails.compression}}</p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Pages</p>
				<p class="title">{{vm.bookDetails.numberOfPages}}</p>
			</div>
		</div>
	</nav>


<section class="section mx-0 px-0">
	<div class="columns">
		<div class="column is-9 ">
			<app-item [item]="vm.item" [collection]="vm.collection" [category]="vm.category" [openType]="''"
					style="display: contents;"></app-item>
		</div>
		<div class="column mt-5">
			<table class="table">
				<thead>
						<tr>
								<th></th>
								<th></th>
						</tr>
				</thead>
				<tbody>
						<ng-container *ngFor="let tocEntry of vm.bookDetails?.tocEntries">
								<tr (click)="goToPage(vm, ''+tocEntry.pageNumber)">
										<td>{{tocEntry.pageNumber}}</td>
										<td>{{tocEntry.name}}</td>
								</tr>
						</ng-container>
				</tbody>
		</table>
		</div>
	</div>
</section>



</ng-container>