<!DOCTYPE html>
<html>
<head th:replace="../fragments/head :: head"></head>
<body>



<nav class="navbar is-transparent" th:fragment="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">

      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
          	<th:block th:each="button : ${buttonSet.buttons}" >
            <a th:if="${button.onclick == null}" class="button is-dark" th:href="${button.href}" th:text="${button.name}"></a>
            <a th:if="${button.onclick != null}" class="button is-dark" th:attr="onclick=${button.onclick}" th:text="${button.name}"></a>
            </th:block>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>


</body>
</html>