<div class="column is-narrow brooke-item" [ngClass]="{
	'is-2': brookeService.currentCollection()?.openType !== 'book-detail',
	'is-6': brookeService.currentCollection()?.openType === 'book-detail'
}">
	<figure class="image is-fullwidth">
			<a (click)="openItem()">
					<img class="image is-fullwidth"
							src="/rest/thumbnail/{{brookeService.currentCollection()?.name}}/{{item.name}}">
			</a>
	</figure>
	<div class="title is-size-5" style="margin-top: auto;">
			<ng-container *ngIf="brookeService.currentCategory()?.name?.length === 1">
					<div style="font-weight: bold; width:0; min-width:100%;">
							{{item.name.replaceAll('_', ' ')}}
					</div>
			</ng-container>
			<ng-container *ngIf="brookeService.currentCollection()?.openType === 'book'">
					<div class="buttons" >
							<button class="button" (click)="openItem()">Open</button>
							<!-- <button class="button" (click)="openItemDetails()" [disabled]="this.item.series">Details</button> -->
							<button class="button" (click)="copyToTablet()">CBZ</button>
					</div>
			</ng-container>
	</div>
</div>
