@if(brookeService.currentItem()) {
	<button class="w3-button" (click)="onTOCClick(true)">TOC</button>

	<div class="w3-modal" [ngStyle]="{'display': isOpen() ? 'block' : 'none' }">
		<div class="w3-modal-content">
			<div class="w3-container">
				<h2>Table of Contents </h2><button (click)="onTOCClick(false)" class="w3-button w3-display-topright">&times;</button>
				<div>
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let tocEntry of brookeService.currentBookDetails()?.tocEntries">
								<tr (click)="goToPage(tocEntry.pageNumber)">
									<td>{{ tocEntry.pageNumber }}</td>
									<td>{{ tocEntry.name }}</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}

