<ng-container *ngIf="vm$ | async as vm">
  <app-top-bar style="display: contents;"></app-top-bar>

  <div class="tile is-ancestor ">
    <app-collection-menu></app-collection-menu>
    <app-category-menu></app-category-menu>
    <div class="tile is-vertical">
      <div class="tile is-child box">

        <div class="tile is-ancestor">
          <div class="tile is-child box">
            <div class="columns is-multiline ">
              <ng-container *ngFor="let item of vm.category.items">
                  <app-item [item]="item" [collection]="vm.collection" [category]="vm.category"
                    [openType]="vm.collection.openType" style="display: contents;"
										></app-item>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</ng-container>