<ng-container *ngIf="vm$ | async as vm">

	<app-top-bar style="display: contents;"></app-top-bar>

	<section class="section mx-0 px-0">
		<div class="columns">
			<div class="column ">
				<app-collection-menu></app-collection-menu>
			</div>
			<div class="column is-9 mt-5">
				<div class="columns is-multiline mr-3">
					<ng-container *ngFor="let item of vm.category.items">
						<app-item [item]="item" [collection]="vm.collection" [category]="vm.category"
							[openType]="vm.collection.openType" style="display: contents;"></app-item>
					</ng-container>
				</div>
			</div>
		</div>
	</section>

</ng-container>