<!DOCTYPE html>
<html>
<head th:replace="../fragments/head :: head"></head>
<body>

<div th:replace="../fragments/navbar :: navbar"/>


<section class="hero is-fullheight-with-navbar">
  <div class="hero-body" style="padding: 0em 0em;">
	<div class="tile is-ancestor">
		<div class="tile  is-vertical is-6">
			<div class="tile is-child">
			
				<figure class="image">
					<img class="is-square" th:src="|/page/${collection.name}/${catalog.name}/${category.name}/${item.name}/${leftPage}|"/>
				</figure>
	
			</div>
		</div>
		<div class="tile">
			<div class="tile is-child">
			
				<figure class="image">
					<img class="is-square" th:src="|/page/${collection.name}/${catalog.name}/${category.name}/${item.name}/${rightPage}|"/>
				</figure>
			
			</div>
		</div>
	</div>
  </div>
</section>


<div id="toc-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ToC</p>
      <button class="delete" aria-label="close" onclick="hide('#toc-modal')"></button>
    </header>
    <section class="modal-card-body">
    	<ul>
		<li th:each="tocEntry : ${tocEntries}" ><a class="is-link" th:href="|/shelfitem/${collection.name}/${catalog.name}/${category.name}/${item.name}/${tocEntry.pageIndex}|" th:text="${tocEntry.name}">Entry</a></li>
		</ul>
    </section>
    <footer class="modal-card-foot">
      <button class="button" onclick="hide('#toc-modal')">Close</button>
    </footer>
  </div>
</div>


<div id="add-toc-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
  	<form th:action="|/addtoc/${collection.name}/${catalog.name}/${category.name}/${item.name}/${leftPage}|">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Add New ToC Entry</p>
	      <button class="delete" aria-label="close" type="button" onclick="hide('#add-toc-modal')"></button>
	    </header>
	    <section class="modal-card-body">
	      <input type="text" id="toc-entry"/>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-success" type="submit">Save changes</button>
	      <button class="button" type="button" onclick="hide('#add-toc-modal')">Close</button>
	    </footer>
    </form>
  </div>
</div>


</body>
</html>