<!DOCTYPE html>
<html>
<head th:replace="../fragments/head :: head"></head>
<body>

<div th:replace="../fragments/navbar :: navbar"/>

<div class="tile is-ancestor">
	<div class="tile  is-vertical is-3">
		<div class="tile is-child box">
		
			<div class="tabs is-toggle"  th:each="catalogGroup : ${collection.catalogGroups}" th:if="${collection.catalogs.size > 1}">
				<ul>
					<th:block th:each="catalog : ${catalogGroup.catalogs}">
					<li>
						<label th:attr="onclick=|enable(&quot;content-catalog-${catalog.name}&quot;)|"><a th:text="${catalog.name}"></a>
						<input type="radio" th:id="|${catalog.name}-catalog|" name="nav-tab"/>
						</label>
					</li>
					</th:block>
				</ul>
			</div>
			
			<div class="tab-content tile is-child box">
				<th:block th:each="catalog : ${collection.catalogs}">
				<div class="tab-pane" th:attrappend="class=${' content-catalog-' + catalog.name}" th:style="${catalog.name == selectedCatalogName || catalog.name == 'def'}? 'display:block' : 'display:none'">
					<ul>
						<li th:each="category : ${catalog.categories}">
							<a th:href="|/collection/${collection.name}/${catalog.name}/${category.name}|" th:text="${category.name}"/>
						</li>
					</ul>
				</div>
				</th:block>	
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile is-child box">
			<div class="columns is-multiline" th:if="${category != null}">
				<div class="column is-2" th:each="item : ${category.items}">
					<figure class="image is-3by4">
						<a th:href="|/shelfitem/${collection.name}/${catalog.name}/${category.name}/${item.name}/|"><img class="is-square" th:src="|/thumbnail/${collection.name}/${catalog.name}/${category.name}/${item.name}|"></a>
					</figure>
					<div class="title is-size-5" >
						<p th:if="${!item.local}" th:inline="text">(*)&nbsp[[${#strings.replace(item.name,'_',' ')}]]</p>
						<p th:if="${item.local}"  th:text="${#strings.replace(item.name,'_',' ')}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



</body>
</html>