<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title >Manage Books</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"><style type="text/css">
input[type="radio"], .tab-pane { display: none; }
</style>
<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
<script src="/js/tab.js"></script>
<script src="/js/brooke.js"></script>
</head>
<body> 
<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
    
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark" href="/">Home</a>
            <a class="button is-dark" href="/manage/book/${book.name}/generatethumbnail">Generate Thumbnail</a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</nav>

<div class="tile is-ancestor">
	<div class="tile  is-vertical is-3">
		<div class="tile is-child box">
				<div class="column">
					<h1 th:text="${book.name}"/></h1>
					<figure class="image">
						<a th:href="|/book/${book.name}/0|"><img class="is-square" th:src="|/thumbnail/${book.name}|"></a>
					</figure>
				</div>
		</div>
	</div>
	<div class="tile  is-vertical is-6">
		<div class="tile is-child box">
		</div>
	</div>
	<div class="tile is-vertical">
		<div class="tile is-child box">
			
			<div class="tabs is-toggle"  th:each="catalogGroup : ${library.catalogGroups}">
				<ul>
					<th:block th:each="catalog : ${catalogGroup.catalogs}">
					<li>
						<label th:attr="onclick=|enable(&quot;content-catalog-${catalog.name}&quot;)|"><a th:text="${catalog.name}"></a>
						<input type="radio" th:id="|${catalog.name}-catalog|" name="nav-tab"/>
						</label>
					</li>
					</th:block>
				</ul>
			</div>
		
			<div class="tab-content tile is-child box">
				<th:block th:each="catalog : ${book.catalogs}">
				<div class="tab-pane" th:attrappend="class=${' content-catalog-' + catalog.name}" th:style="${catalog.name == selectedCatalogName}? 'display:block' : 'display:none'">
					<div class="table-container">
					<table class="table is-striped is-narrow">
						<thead>
							<th>Category</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="cat,catStatus : ${catalog.categories}">
								<td th:text="${cat.category}"></td>
								<td>
									<button class="button is-link"
									   th:id="|${catStatus.index}|" 
								       th:attr="onclick=|addtocategory(${catStatus.index}, &quot;${book.name}&quot;, &quot;${catalog.name}&quot;, &quot;${cat.category}&quot;)|" 
								       th:disabled="${cat.listed}">
								    	Add
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				</th:block>	
			</div>
		</div>
	</div>
</div>

</body>
</html>