<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title >Manage Books</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body> 
<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
    
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark" href="/">Home</a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</nav>

<section class="hero is-fullheight-with-navbar">
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Thumbnail</th>
			<th>Assigned</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr th:each="book : ${books.books}">
				<td th:text="${book.name}"></td>
				<td th:text="${book.thumbnailGenerated}"></td>
				<td th:text="${book.assigned}"></td>
				<td><a class="button is-link" th:href="|/manage/book/${book.name}|">Manage</a></td>
			</tr>
		</tbody>
	</table>
</section>
</body>
</html>