<!DOCTYPE html>
<html>
<head>
<style>
::cue {
	color: yellow;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color:rgba(0, 0, 0, 0);
}
video {        
	height: 95vh;
    width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
}

</style>
</head>
<body>
<div>
<video controls>
  <source src="/video" type="video/mp4">
  <track label="English" kind="subtitles" srclang="en" src="/vtt" default>
  Your browser does not support the video tag.
</video>
</div>
</body>
</html>