<!DOCTYPE html>
<html>
<head th:replace="../fragments/head :: head"></head>
<body>

<div>
<video id="brooke-video" controls>
  <source th:src="|/video/${collection.name}/${catalog.name}/${category.name}/${item.name}|" type="video/mp4" preload="auto">
  <track th:each="subtitle : ${subtitles}" label="English" kind="subtitles" srclang="en" th:src="|/subtitle/${collection.name}/${catalog.name}/${category.name}/${item.name}/${subtitle}|" >
  <track kind="chapters" th:src="|/subtitle/${collection.name}/${catalog.name}/${category.name}/${item.name}/chapters.vtt|" >
</video>
</div>

<script type='text/javascript'>
    document.getElementById('brooke-video').addEventListener('ended',myHandler,false);
    function myHandler(e) {
        // What you want to do after the event
    }
    
    //cycle audio track
    //videoObject.audioTracks[audioTrackIndex].enabled = true;
</script>
</body>
</html>