<h2>Settings</h2>

@if (busy()) {
  <div>{{ busyMessage() }}</div>
}
<h3>Collections</h3>

<table mat-table [dataSource]="app.resources().storedLibrary.value()?.collections || []">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <ng-container matColumnDef="permission">
    <th mat-header-cell *matHeaderCellDef>Permission</th>
    <td mat-cell *matCellDef="let row">
      @if (!row.hasPermission) {
        <button matMiniFab (click)="requestPermission(row)" title="Request Permission" [disabled]="busy()">
          <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
        </button>
      } @else {
        <mat-icon fontSet="material-symbols-outlined">check_circle</mat-icon>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <div class="flex">
        <button matMiniFab (click)="removeCollection(row)" title="Remove" [disabled]="busy()">
          <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
        </button>
        <button matMiniFab (click)="updateCollectionFromFiles(row)" title="Re-Download" [disabled]="busy()">
          <mat-icon fontSet="material-symbols-outlined">sync_arrow_down</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'permission', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'permission', 'actions']"></tr>
</table>

<button mat-raised-button (click)="addNewCollection()" [disabled]="busy()">Add Collection</button>

<h3>Synthesized Voice</h3>
@let library = app.resources().storedLibrary.value();
@if (library) {
  <mat-form-field>
    <mat-label>Voice</mat-label>
    <mat-select [(value)]="library.voice">
      @for (option of orator.getVoices(); track option.name) {
        <mat-option [value]="option.name">{{ option.name }} ({{ option.lang }})</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="flex">
    <mat-form-field class="flex-grow">
      <mat-label>Sample Text</mat-label>
      <textarea matInput [(ngModel)]="sampleText"></textarea>
    </mat-form-field>
    <div class="flex flex-column">
      <button matMiniFab (click)="playSampleText()" title="Read Sample Text" [disabled]="busy()">
        <mat-icon fontSet="material-symbols-outlined">play_circle</mat-icon>
      </button>
      <button matMiniFab (click)="saveVoice()" title="Save Voice" [disabled]="busy()">
        <mat-icon fontSet="material-symbols-outlined">save</mat-icon>
      </button>
    </div>
  </div>
}

<h3>Cache Directory</h3>
@let cacheDirectory = app.resources().storedLibrary.value()?.cacheDirectory;
@if (!cacheDirectory) {
  <button mat-raised-button (click)="setLocalCacheDirectory()" [disabled]="busy()">Set Local Directory</button>
} @else {
  <table mat-table [dataSource]="[cacheDirectory]">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">Cache Directory</td>
    </ng-container>

    <ng-container matColumnDef="permission">
      <th mat-header-cell *matHeaderCellDef>Permission</th>
      <td mat-cell *matCellDef="let row">
        @if (!row.hasPermission) {
          <button matMiniFab (click)="requestPermission(row)" title="Request Permission" [disabled]="busy()">
            <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
          </button>
        } @else {
          <mat-icon fontSet="material-symbols-outlined">check_circle</mat-icon>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'permission']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'permission']"></tr>
  </table>
}

								<a href="vlc://file%3A///storage/emulated/0/Brooke/Heat.mkv">Open 1</a>
								<a href="vlc://file%3A///Brooke/Heat.mkv">Open 2</a>
								<a href="vlc://file%3A//storage/emulated/0/Brooke/Heat.mkv">Open 3</a>
								<a href="vlc://file%3A//Brooke/Heat.mkv">Open 4</a>
								<a href="file%3A///storage/emulated/0/Brooke/Heat.mkv">Open 15</a>
								<a href="file%3A///Brooke/Heat.mkv">Open 16</a> 
								<a href="vlc://file%3A///storage/emulated/0/Brooke/Heat.mkv">Open 7</a>
								<a href="vlc://file%3A///Brooke/Heat.mkv">Open 8</a>  
								<a href="vlc://file%3A//storage/emulated/0/Brooke/Heat.mkv">Open 9</a>
								<a href="vlc://file%3A//Brooke/Heat.mkv">Open 10</a>  
								
								

<div>
	<label for="files">Select files</label>
	<input id="files" type="file" multiple />
</div>
<button mat-raised-button  type="button" (click)="share()">Share</button>
<button mat-raised-button  type="button" (click)="shareUrl('vlc://file%3A///Brooke/Heat.mkv')">Share Url 11</button>
<button mat-raised-button  type="button" (click)="shareUrl('vlc://file%3A///storage/emulated/0/Brooke/Heat.mkv')">Share Url 12</button>
<output id="output"></output>

<button mat-raised-button (click)="app.appState().showSettingsManual.set(false)" [disabled]="busy()">Done</button>
