

h2,
h3,
h4,
h5 {
  display: block;
  width: 100%;
  text-wrap-mode: nowrap;
}

span {
  text-wrap-mode: nowrap;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
