<header class="brooke-header primary" role="navigation" aria-label="main navigation">
	<div class="brooke-header-leftside">
		<div class="">
			<button class="button primary"
				(click)="onToggleAsideMenuButtonClick()"
			><strong>&#9776;</strong></button>
			<!-- <h2>Brooke</h2> -->
			<!-- <a class="navbar-item" href="https://bulma.io">
				<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
			</a> -->
		</div>
		<breadcrumb class="" style="display: contents; "></breadcrumb>
	
	</div>

	<div class="brooke-header-rightside">
		<modify-collection-button class="" style="display: contents;"></modify-collection-button>
		<book-toc class=""></book-toc>
		<book-options class=""></book-options>
		<book-page-turner class=""></book-page-turner> 
	</div>
</header>
