<header class="brooke-header" role="navigation" aria-label="main navigation">
	<div class="brooke-header-leftside">
		<div class="">
			<button class="w3-button w3-teal" 
				(click)="onToggleAsideMenuButtonClick()"
			>&#9776;</button>
			<!-- <h2>Brooke</h2> -->
			<!-- <a class="navbar-item" href="https://bulma.io">
				<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
			</a> -->
		</div>
		<breadcrumb class="" style="display: contents; display: flex; margin-top: auto"></breadcrumb>
		<modify-collection-button class="" style="display: contents; display: flex; margin-top: auto"></modify-collection-button>
	
	</div>

	<div class="brooke-header-rightside">
		<book-toc class=""></book-toc>
		<book-options class=""></book-options>
		<book-page-turner class=""></book-page-turner> 
	</div>
</header>
