@let appState = app.appState();
@let appResource = app.resources();
@let itm = item();
@let mainActionItem = appState.currentCollection()?.openType === 'book' ? 'file_open' : 'play_arrow';
@if (appState && itm) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ itemRef().displayName }} </mat-card-title>
    </mat-card-header>
    @if (imageUrl) {
      <action mat-card-image [img]="imageUrl" [m]="openItem" [o]="this">{{ mainActionItem }}</action>
    }
    <mat-card-actions>
      <div>
        <action [m]="openItem" [o]="this">{{ mainActionItem }}</action>
        <action
          [matBadge]="itemRef().childItems.length"
          matBadgeSize="large"
          [matBadgeHidden]="!itemRef().childItems.length"
          [m]="downloadForOffline"
          [o]="this"
          [disabled]="!appResource.storedLibrary.value()?.cacheDirectory"
          >download_for_offline</action
        >
        <action [m]="openItemDetails" [o]="this">notes</action>
        @if (appState.currentCollection()?.openType === 'book') {
          <action
            [m]="openItemThumbnails"
            [o]="this"
            title="Thumbnails"
            matBadge="?"
            matBadgeSize="large"
            [matBadgeHidden]="item().bookDetails?.blankPages?.length || item().bookDetails?.imagePages?.length"
            >dataset</action
          >
          <action [m]="openItemMarkdown" [o]="this" title="Markdown" [disabled]="!item().ocrHandle">markdown</action>
        }
      </div>
    </mat-card-actions>
  </mat-card>
}
