@let itm = completeItem();
@let mainActionItem = app.location().collection?.openType === 'book' ? 'file_open' : 'play_arrow';
@if (app && itm) {

<card>
  <card-header>
    <h2>{{ itm.itemRef.displayName }}</h2>
  </card-header>
  <card-body>
    @if (imageUrl) {
    <action mat-card-image [img]="imageUrl" [m]="openItem" [o]="this">{{ mainActionItem }}</action>
    }
  </card-body>
  <card-actions>
    <div class="flex flex-gap margin-b">
      <action [m]="openItem" [o]="this">{{ mainActionItem }}</action>
      <action [matBadge]="itm.itemRef.childItems.length" matBadgeSize="large"
        [matBadgeHidden]="!itm.itemRef.childItems.length" [m]="downloadForOffline" [o]="this"
        [disabled]="!app.settings.value()?.cacheDirectory">download_for_offline</action>
      <action [m]="openItemDetails" [o]="this">notes</action>
      @if (app.location().collection?.openType === 'book') {
      <action [m]="openItemThumbnails" [o]="this" title="Thumbnails" matBadge="?" matBadgeSize="large"
        [matBadgeHidden]="itm.item.bookDetails?.blankPages?.length || itm.item.bookDetails?.imagePages?.length">dataset
      </action>
      <action [m]="openItemMarkdown" [o]="this" title="Markdown" [disabled]="!itm.item.ocrHandle">markdown</action>
      }
    </div>
  </card-actions>
</card>

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>{{ itm.itemRef.displayName }} </mat-card-title>
  </mat-card-header>
  @if (imageUrl) {
  <action mat-card-image [img]="imageUrl" [m]="openItem" [o]="this">{{ mainActionItem }}</action>
  }
  <mat-card-actions>
    <div>
      <action [m]="openItem" [o]="this">{{ mainActionItem }}</action>
      <action [matBadge]="itm.itemRef.childItems.length" matBadgeSize="large"
        [matBadgeHidden]="!itm.itemRef.childItems.length" [m]="downloadForOffline" [o]="this"
        [disabled]="!app.settings.value()?.cacheDirectory">download_for_offline</action>
      <action [m]="openItemDetails" [o]="this">notes</action>
      @if (app.currentCollection()?.openType === 'book') {
      <action [m]="openItemThumbnails" [o]="this" title="Thumbnails" matBadge="?" matBadgeSize="large"
        [matBadgeHidden]="itm.item.bookDetails?.blankPages?.length || itm.item.bookDetails?.imagePages?.length">dataset
      </action>
      <action [m]="openItemMarkdown" [o]="this" title="Markdown" [disabled]="!itm.item.ocrHandle">markdown</action>
      }
    </div>
  </mat-card-actions>
</mat-card>-->
}