@let itm = completeItem();
@let mainActionItem = app.location().collection?.openType === 'book' ? 'file_open' : 'play_arrow';
@if (app && itm) {

<card>
  <card-header>
    <h2 class="text-wrap">{{ itm.itemRef.displayName }}</h2>
  </card-header>
  <card-body>
    @if (imageUrl) {
    <figure-button [img]="imageUrl" (click)="openItem()" icon="{{ mainActionItem }}" />
    }
  </card-body>
  <card-actions>
    <div class="flex flex-gap margin-b">
      <Btn type="fab" icon="{{ mainActionItem }}" (click)="openItem()" />
      <Btn type="fab" icon="download_for_offline" (click)="downloadForOffline()"
        [disabled]="!app.settings.value()?.cacheDirectory" />

      @if (app.location().collection?.openType === 'book') {
      <Btn type="fab" icon="dataset" (click)="openItemThumbnails()" />
      <Btn type="fab" icon="markdown" (click)="openItemMarkdown()" [disabled]="!itm.item.ocrHandle" />
      }
    </div>
  </card-actions>
</card>

}