<ng-container>
  <div class="w3-sidebar w3-bar-block w3-card"
		[ngStyle]="{'width': brookeService.widgets.asideMenuExpanded() ? '20%' : '0%' }"
		[ngClass]="{
			'w3-show': brookeService.widgets.asideMenuExpanded()
		}"
	>
    <ng-container *ngFor="let link of brookeService.collections()">
      <ng-container *ngIf="link">
        <button class="w3-bar-item w3-button"
          [ngClass]="{
            'is-active': link.name === brookeService.currentCollection()?.name
          }"
          (click)="onCollectionButtonClick(link)"
        >
          {{ link.name.replaceAll("_", " ") }}
        </button>

        <div class="w3-bar-block w3-white w3-card"
					[ngClass]="{
						'w3-block': brookeService.currentCollection()?.name === link.name,
						'w3-show': brookeService.currentCollection()?.name == link.name
					}"
				>
          <ng-container
            *ngFor="
              let sublink of brookeService.currentCollection()?.categories
            "
          >
            <ng-container
              *ngIf="link.name === brookeService.currentCollection()?.name"
            >
              <button class="w3-bar-item w3-button"
                [ngClass]="{
                  'is-active':
                    brookeService.currentCategory()?.name === sublink.name
                }"
                (click)="onCategoryButtonClick(sublink)"
              >
                {{ sublink.name.replaceAll("_", " ") }}
              </button>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

    </ng-container>
  </div>
</ng-container>
