:root {
  --md-sys-color-primary: light-dark( rgb(28 50 0),  rgb(218 251 176));
  --md-sys-color-surface-tint: light-dark( rgb(76 102 43),  rgb(177 209 138));
  --md-sys-color-on-primary: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-primary-container: light-dark( rgb(55 80 24),  rgb(173 205 134));
  --md-sys-color-on-primary-container: light-dark( rgb(255 255 255),  rgb(5 14 0));
  --md-sys-color-secondary: light-dark( rgb(38 47 26),  rgb(233 244 213));
  --md-sys-color-on-secondary: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-secondary-container: light-dark( rgb(67 76 53),  rgb(188 199 169));
  --md-sys-color-on-secondary-container: light-dark( rgb(255 255 255),  rgb(6 13 1));
  --md-sys-color-tertiary: light-dark( rgb(0 50 48),  rgb(201 249 245));
  --md-sys-color-on-tertiary: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-tertiary-container: light-dark( rgb(33 80 78),  rgb(156 204 199));
  --md-sys-color-on-tertiary-container: light-dark( rgb(255 255 255),  rgb(0 14 13));
  --md-sys-color-error: light-dark( rgb(96 0 4),  rgb(255 236 233));
  --md-sys-color-on-error: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-error-container: light-dark( rgb(152 0 10),  rgb(255 174 164));
  --md-sys-color-on-error-container: light-dark( rgb(255 255 255),  rgb(34 0 1));
  --md-sys-color-background: light-dark( rgb(249 250 239),  rgb(18 20 14));
  --md-sys-color-on-background: light-dark( rgb(26 28 22),  rgb(226 227 216));
  --md-sys-color-surface: light-dark( rgb(249 250 239),  rgb(18 20 14));
  --md-sys-color-on-surface: light-dark( rgb(0 0 0),  rgb(255 255 255));
  --md-sys-color-surface-variant: light-dark( rgb(225 228 213),  rgb(68 72 61));
  --md-sys-color-on-surface-variant: light-dark( rgb(0 0 0),  rgb(255 255 255));
  --md-sys-color-outline: light-dark( rgb(42 45 36),  rgb(238 242 226));
  --md-sys-color-outline-variant: light-dark( rgb(71 75 64),  rgb(193 196 182));
  --md-sys-color-shadow: light-dark( rgb(0 0 0),  rgb(0 0 0));
  --md-sys-color-scrim: light-dark( rgb(0 0 0),  rgb(0 0 0));
  --md-sys-color-inverse-surface: light-dark( rgb(47 49 42),  rgb(226 227 216));
  --md-sys-color-inverse-on-surface: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-inverse-primary: light-dark( rgb(177 209 138),  rgb(54 79 23));
  --md-sys-color-primary-fixed: light-dark( rgb(55 80 24),  rgb(205 237 163));
  --md-sys-color-on-primary-fixed: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-primary-fixed-dim: light-dark( rgb(33 57 3),  rgb(177 209 138));
  --md-sys-color-on-primary-fixed-variant: light-dark( rgb(255 255 255),  rgb(8 20 0));
  --md-sys-color-secondary-fixed: light-dark( rgb(67 76 53),  rgb(220 231 200));
  --md-sys-color-on-secondary-fixed: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-secondary-fixed-dim: light-dark( rgb(44 54 32),  rgb(191 203 173));
  --md-sys-color-on-secondary-fixed-variant: light-dark( rgb(255 255 255),  rgb(11 20 3));
  --md-sys-color-tertiary-fixed: light-dark( rgb(33 80 78),  rgb(188 236 231));
  --md-sys-color-on-tertiary-fixed: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-tertiary-fixed-dim: light-dark( rgb(3 57 55),  rgb(160 208 203));
  --md-sys-color-on-tertiary-fixed-variant: light-dark( rgb(255 255 255),  rgb(0 20 19));
  --md-sys-color-surface-dim: light-dark( rgb(184 186 175),  rgb(18 20 14));
  --md-sys-color-surface-bright: light-dark( rgb(249 250 239),  rgb(79 81 73));
  --md-sys-color-surface-container-lowest: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-surface-container-low: light-dark( rgb(241 242 230),  rgb(30 32 26));
  --md-sys-color-surface-container: light-dark( rgb(226 227 216),  rgb(47 49 42));
  --md-sys-color-surface-container-high: light-dark( rgb(212 213 202),  rgb(58 60 53));
  --md-sys-color-surface-container-highest: light-dark( rgb(198 199 189),  rgb(69 72 64));
}
