:root {
  --md-sys-color-primary: light-dark( rgb(37 61 5),  rgb(199 231 158));
  --md-sys-color-surface-tint: light-dark( rgb(76 102 43),  rgb(177 209 138));
  --md-sys-color-on-primary: light-dark( rgb(255 255 255),  rgb(23 43 0));
  --md-sys-color-primary-container: light-dark( rgb(90 117 57),  rgb(125 154 89));
  --md-sys-color-on-primary-container: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-secondary: light-dark( rgb(48 57 36),  rgb(213 225 194));
  --md-sys-color-on-secondary: light-dark( rgb(255 255 255),  rgb(31 40 20));
  --md-sys-color-secondary-container: light-dark( rgb(102 113 87),  rgb(138 149 121));
  --md-sys-color-on-secondary-container: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-tertiary: light-dark( rgb(8 61 58),  rgb(181 230 225));
  --md-sys-color-on-tertiary: light-dark( rgb(255 255 255),  rgb(0 43 41));
  --md-sys-color-tertiary-container: light-dark( rgb(71 117 114),  rgb(107 153 149));
  --md-sys-color-on-tertiary-container: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-error: light-dark( rgb(116 0 6),  rgb(255 210 204));
  --md-sys-color-on-error: light-dark( rgb(255 255 255),  rgb(84 0 3));
  --md-sys-color-error-container: light-dark( rgb(207 44 39),  rgb(255 84 73));
  --md-sys-color-on-error-container: light-dark( rgb(255 255 255),  rgb(0 0 0));
  --md-sys-color-background: light-dark( rgb(249 250 239),  rgb(18 20 14));
  --md-sys-color-on-background: light-dark( rgb(26 28 22),  rgb(226 227 216));
  --md-sys-color-surface: light-dark( rgb(249 250 239),  rgb(18 20 14));
  --md-sys-color-on-surface: light-dark( rgb(15 18 12),  rgb(255 255 255));
  --md-sys-color-surface-variant: light-dark( rgb(225 228 213),  rgb(68 72 61));
  --md-sys-color-on-surface-variant: light-dark( rgb(52 56 45),  rgb(219 222 207));
  --md-sys-color-outline: light-dark( rgb(80 84 73),  rgb(176 179 166));
  --md-sys-color-outline-variant: light-dark( rgb(107 111 98),  rgb(142 146 133));
  --md-sys-color-shadow: light-dark( rgb(0 0 0),  rgb(0 0 0));
  --md-sys-color-scrim: light-dark( rgb(0 0 0),  rgb(0 0 0));
  --md-sys-color-inverse-surface: light-dark( rgb(47 49 42),  rgb(226 227 216));
  --md-sys-color-inverse-on-surface: light-dark( rgb(241 242 230),  rgb(40 43 36));
  --md-sys-color-inverse-primary: light-dark( rgb(177 209 138),  rgb(54 79 23));
  --md-sys-color-primary-fixed: light-dark( rgb(90 117 57),  rgb(205 237 163));
  --md-sys-color-on-primary-fixed: light-dark( rgb(255 255 255),  rgb(8 20 0));
  --md-sys-color-primary-fixed-dim: light-dark( rgb(66 92 35),  rgb(177 209 138));
  --md-sys-color-on-primary-fixed-variant: light-dark( rgb(255 255 255),  rgb(37 61 5));
  --md-sys-color-secondary-fixed: light-dark( rgb(102 113 87),  rgb(220 231 200));
  --md-sys-color-on-secondary-fixed: light-dark( rgb(255 255 255),  rgb(11 20 3));
  --md-sys-color-secondary-fixed-dim: light-dark( rgb(78 88 64),  rgb(191 203 173));
  --md-sys-color-on-secondary-fixed-variant: light-dark( rgb(255 255 255),  rgb(48 57 36));
  --md-sys-color-tertiary-fixed: light-dark( rgb(71 117 114),  rgb(188 236 231));
  --md-sys-color-on-tertiary-fixed: light-dark( rgb(255 255 255),  rgb(0 20 19));
  --md-sys-color-tertiary-fixed-dim: light-dark( rgb(46 92 89),  rgb(160 208 203));
  --md-sys-color-on-tertiary-fixed-variant: light-dark( rgb(255 255 255),  rgb(8 61 58));
  --md-sys-color-surface-dim: light-dark( rgb(198 199 189),  rgb(18 20 14));
  --md-sys-color-surface-bright: light-dark( rgb(249 250 239),  rgb(67 69 61));
  --md-sys-color-surface-container-lowest: light-dark( rgb(255 255 255),  rgb(6 8 4));
  --md-sys-color-surface-container-low: light-dark( rgb(243 244 233),  rgb(28 30 24));
  --md-sys-color-surface-container: light-dark( rgb(232 233 222),  rgb(38 41 34));
  --md-sys-color-surface-container-high: light-dark( rgb(220 222 211),  rgb(49 52 44));
  --md-sys-color-surface-container-highest: light-dark( rgb(209 211 200),  rgb(60 63 55));
}
