:root {
  --md-sys-color-primary: light-dark( rgb(76 102 43),  rgb(177 209 138));
  --md-sys-color-surface-tint: light-dark( rgb(76 102 43),  rgb(177 209 138));
  --md-sys-color-on-primary: light-dark( rgb(255 255 255),  rgb(31 55 1));
  --md-sys-color-primary-container: light-dark( rgb(205 237 163),  rgb(53 78 22));
  --md-sys-color-on-primary-container: light-dark( rgb(53 78 22),  rgb(205 237 163));
  --md-sys-color-secondary: light-dark( rgb(88 98 73),  rgb(191 203 173));
  --md-sys-color-on-secondary: light-dark( rgb(255 255 255),  rgb(42 51 30));
  --md-sys-color-secondary-container: light-dark( rgb(220 231 200),  rgb(64 74 51));
  --md-sys-color-on-secondary-container: light-dark( rgb(64 74 51),  rgb(220 231 200));
  --md-sys-color-tertiary: light-dark( rgb(56 102 99),  rgb(160 208 203));
  --md-sys-color-on-tertiary: light-dark( rgb(255 255 255),  rgb(0 55 53));
  --md-sys-color-tertiary-container: light-dark( rgb(188 236 231),  rgb(31 78 75));
  --md-sys-color-on-tertiary-container: light-dark( rgb(31 78 75),  rgb(188 236 231));
  --md-sys-color-error: light-dark( rgb(186 26 26),  rgb(255 180 171));
  --md-sys-color-on-error: light-dark( rgb(255 255 255),  rgb(105 0 5));
  --md-sys-color-error-container: light-dark( rgb(255 218 214),  rgb(147 0 10));
  --md-sys-color-on-error-container: light-dark( rgb(147 0 10),  rgb(255 218 214));
  --md-sys-color-background: light-dark( rgb(249 250 239),  rgb(18 20 14));
  --md-sys-color-on-background: light-dark( rgb(26 28 22),  rgb(226 227 216));
  --md-sys-color-surface: light-dark( rgb(249 250 239),  rgb(18 20 14));
  --md-sys-color-on-surface: light-dark( rgb(26 28 22),  rgb(226 227 216));
  --md-sys-color-surface-variant: light-dark( rgb(225 228 213),  rgb(68 72 61));
  --md-sys-color-on-surface-variant: light-dark( rgb(68 72 61),  rgb(197 200 186));
  --md-sys-color-outline: light-dark( rgb(117 121 108),  rgb(143 146 133));
  --md-sys-color-outline-variant: light-dark( rgb(197 200 186),  rgb(68 72 61));
  --md-sys-color-shadow: light-dark( rgb(0 0 0),  rgb(0 0 0));
  --md-sys-color-scrim: light-dark( rgb(0 0 0),  rgb(0 0 0));
  --md-sys-color-inverse-surface: light-dark( rgb(47 49 42),  rgb(226 227 216));
  --md-sys-color-inverse-on-surface: light-dark( rgb(241 242 230),  rgb(47 49 42));
  --md-sys-color-inverse-primary: light-dark( rgb(177 209 138),  rgb(76 102 43));
  --md-sys-color-primary-fixed: light-dark( rgb(205 237 163),  rgb(205 237 163));
  --md-sys-color-on-primary-fixed: light-dark( rgb(16 32 0),  rgb(16 32 0));
  --md-sys-color-primary-fixed-dim: light-dark( rgb(177 209 138),  rgb(177 209 138));
  --md-sys-color-on-primary-fixed-variant: light-dark( rgb(53 78 22),  rgb(53 78 22));
  --md-sys-color-secondary-fixed: light-dark( rgb(220 231 200),  rgb(220 231 200));
  --md-sys-color-on-secondary-fixed: light-dark( rgb(21 30 11),  rgb(21 30 11));
  --md-sys-color-secondary-fixed-dim: light-dark( rgb(191 203 173),  rgb(191 203 173));
  --md-sys-color-on-secondary-fixed-variant: light-dark( rgb(64 74 51),  rgb(64 74 51));
  --md-sys-color-tertiary-fixed: light-dark( rgb(188 236 231),  rgb(188 236 231));
  --md-sys-color-on-tertiary-fixed: light-dark( rgb(0 32 30),  rgb(0 32 30));
  --md-sys-color-tertiary-fixed-dim: light-dark( rgb(160 208 203),  rgb(160 208 203));
  --md-sys-color-on-tertiary-fixed-variant: light-dark( rgb(31 78 75),  rgb(31 78 75));
  --md-sys-color-surface-dim: light-dark( rgb(218 219 208),  rgb(18 20 14));
  --md-sys-color-surface-bright: light-dark( rgb(249 250 239),  rgb(56 58 50));
  --md-sys-color-surface-container-lowest: light-dark( rgb(255 255 255),  rgb(12 15 9));
  --md-sys-color-surface-container-low: light-dark( rgb(243 244 233),  rgb(26 28 22));
  --md-sys-color-surface-container: light-dark( rgb(238 239 227),  rgb(30 32 26));
  --md-sys-color-surface-container-high: light-dark( rgb(232 233 222),  rgb(40 43 36));
  --md-sys-color-surface-container-highest: light-dark( rgb(226 227 216),  rgb(51 54 46));
}
