
@let widgets = app.widgets();
@let appState = app.appState();
@let resources = app.resources();
@if (widgets && appState && resources) {
  <mat-toolbar color="primary" class="flex flex-align-center">
    <mat-toolbar-row>
      <mat-icon fontSet="material-symbols-outlined">newsstand</mat-icon>
      <h1>Brooke</h1>
      <!-- <app-breadcrumb class="flex flex-align-center flex-no-gap"></app-breadcrumb> -->
			 @if(!widgets.isMobile()) {
				  @if (appState.currentCollection()) {
						@let collectionLabel = appState.currentItem() ? '...' : appState.currentCollection()?.name;
						<mat-icon fontSet="material-symbols-outlined">chevron_right</mat-icon>
						<mat-chip-and-remove [label]="collectionLabel" (removed)="app.openHome()" />
					}
					@if (appState.currentCategory()) {
						@let categoryLabel = appState.currentSeries() || appState.currentItem() ? '...' : appState.currentCategory()?.name;
						<mat-icon fontSet="material-symbols-outlined">chevron_right</mat-icon>
						<mat-chip-and-remove [label]="categoryLabel" (removed)="app.openCollection()" />
					}
					@if (appState.currentSeries()) {
						<mat-icon fontSet="material-symbols-outlined">chevron_right</mat-icon>
						<mat-chip-and-remove [label]="appState.currentSeries()?.name" (removed)="app.openCategory()" />
					}
					@if (appState.currentItem()) {
						<mat-icon fontSet="material-symbols-outlined">chevron_right</mat-icon>
						<mat-chip-and-remove [label]="appState.currentItem()?.name" (removed)="app.openCategory()" />
					}
			 }
      <span class="spacer"></span>

      @if (!widgets.panel.showBook()) {
        <button matMiniFab (click)="appState.showLibraryEditorManual.set(true)" title="Modify Categories">
          <mat-icon fontSet="material-symbols-outlined">library_books</mat-icon>
        </button>
        <button matMiniFab title="Write Categories">
          <mat-icon fontSet="material-symbols-outlined">sync_arrow_up</mat-icon>
        </button>
        <button matMiniFab (click)="appState.showSettingsManual.set(true)">
          <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
        </button>
      }
			@if (widgets.book.thumbnailView()) {
				<button matMiniFab (click)="app.updateItem()" title="Save">
					<!-- save ocr details -->
					<mat-icon fontSet="material-symbols-outlined">save</mat-icon>
				</button>
			}

      @if (widgets.panel.showBook()) {
        @if (resources.bookCbt.hasValue()) {
          <mat-paginator
            (page)="app.handlePaginationEvent($event)"
            [length]="resources.bookCbt.value().length"
            [pageSize]="widgets.book.pagesInDisplay()"
            [disabled]="false"
            [showFirstLastButtons]="false"
            [pageIndex]="appState.currentPageSet()"
            [hidePageSize]="true"
            aria-label="Select page"
          >
          </mat-paginator>
        }
      }
    </mat-toolbar-row>
  </mat-toolbar>
}

<mat-drawer-container class="example-container" hasBackdrop="false" class="fw fh-body">
  <mat-drawer #drawer mode="push" class="width-auto" opened="true">
		<div class="flex flex-column flex-align-center toolbar">
			<action [m]="app.toggleFullScreen" title="Fullscreen">
        @if (widgets.fullscreen()) {
          fullscreen_exit
        } @else {
          fullscreen
        }
			</action> 
			@if(!orator.reading) {
				<action [m]="app.textToSpeech" title="Text to Speech" [disabled]="orator.reading">
					text_to_speech
				</action>

			} @else {
				<action [m]="app.stopTextToSpeech" title="Stop Text to Speech" [disabled]="!orator.reading">
					stop
				</action>
			}
			<action [m]="app.toggleMarkdownView" title="View Markdown">
				markdown
			</action>
			@if(!app.widgets().isMobile()) {
				<action [m]="app.toggleThumbnailView" title="View Thumbnails">
					dataset
				</action>
			}
      <button matMiniFab title="Book Options" (click)="itemOptionsDrawer.toggle()">
        <mat-icon fontSet="material-symbols-outlined">book_2</mat-icon>
      </button>
      <!-- <button matMiniFab title="Right to Left Mode">
        <mat-icon fontSet="material-symbols-outlined">rotate_left</mat-icon>
      </button> -->
			<button matMiniFab title="Table of Contents" > <!-- book toc -->
				<mat-icon fontSet="material-symbols-outlined">format_list_bulleted</mat-icon>
			</button>
			<button matMiniFab title="Add ToC Entry" > <!-- add to book toc -->
				<mat-icon fontSet="material-symbols-outlined">format_list_bulleted_add</mat-icon>
			</button>
			@if(!app.widgets().isMobile()) {
				<action [m]="app.toggleOneOrTwoPageMode" title="Toggle Page Mode">
					two_pager
				</action>
				<action [m]="app.toggleSideBySide" title="Compare Markdown and Image">
					compare
				</action>
			}
      <button matMiniFab title="Close" (click)="app.openHome()">
        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      </button>
		</div>
	</mat-drawer>
  <mat-drawer-content class="fh-body">
		<mat-drawer-container hasBackdrop="true" class="fw fh-body">
			<mat-drawer #itemOptionsDrawer mode="over" class="width-auto" >
					<!-- book options or toc go here -->
				<div class="flex flex-column flex-align-center toolbar">
				</div>
			</mat-drawer>
			<mat-drawer-content class="fh-body">
				<ng-content></ng-content>
			</mat-drawer-content>
		</mat-drawer-container>
  </mat-drawer-content>
</mat-drawer-container>

