:host {
  --mat-chip-label-text-color: var(--mat-sys-on-primary-container);
  --mat-chip-outline-color: var(--mat-sys-on-primary-container);
  --mat-chip-with-trailing-icon-trailing-icon-color: var(--mat-sys-on-primary-container);
  align-items: center;
  column-gap: var(--o-gap);
  display: inline-flex;
}