:host {
	--mat-sidenav-container-width: auto;
	--mat-chip-label-text-color: var(--mat-sys-on-primary-container);
  --mat-chip-outline-color: var(--mat-sys-on-primary-container);
  --mat-chip-with-trailing-icon-trailing-icon-color: var(--mat-sys-on-primary-container);
}

mat-toolbar-row {
  column-gap: 8px;
}

.mat-drawer-inner-container {
	width: auto !important;
}

.pages-of {
	font-size: small;
  margin-right: 16px;
  font-weight: 600;
}

.toolbar {
	width: var(--mat-toolbar-mobile-height, 56px);
	margin-top: 8px;
}